# <center>Homework Assignment 3: Inference Statistics</center>
## <center>16th September 2024</center>
#### <center>Syed Asghar Abbas Zaidi 07201 in CS/CE 457/464-L1</center>
#### <center>sz07201@st.habib.edu.pk</center>

In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [11]:
# Reading the data
df = pd.read_csv("student-scores.csv")
df.head(10)

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65,65,80,74,76
5,6,Kelly,Wade,kelly.wade.6@gslingacademy.com,female,False,2,False,26,Unknown,93,100,67,78,72,80,84
6,7,Anthony,Smith,anthony.smith.7@gslingacademy.com,male,False,3,True,23,Software Engineer,99,96,97,73,88,76,64
7,8,George,Short,george.short.8@gslingacademy.com,male,True,2,True,34,Software Engineer,95,95,82,63,84,70,85
8,9,Stanley,Gutierrez,stanley.gutierrez.9@gslingacademy.com,male,False,6,False,25,Unknown,94,68,94,85,81,74,72
9,10,Audrey,Simpson,audrey.simpson.10@gslingacademy.com,female,False,3,True,18,Teacher,98,69,88,71,67,71,73

It's a good practice to check out the data-types of every columns beforehand, so we will be doing that

In [16]:
df.dtypes

id                             int64
first_name                    object
last_name                     object
email                         object
gender                        object
part_time_job                   bool
absence_days                   int64
extracurricular_activities      bool
weekly_self_study_hours        int64
career_aspiration             object
math_score                     int64
history_score                  int64
physics_score                  int64
chemistry_score                int64
biology_score                  int64
english_score                  int64
geography_score                int64
dtype: object

In [19]:
## Checking if there are any null values to fill-in
df.isnull().sum()

id                            0
first_name                    0
last_name                     0
email                         0
gender                        0
part_time_job                 0
absence_days                  0
extracurricular_activities    0
weekly_self_study_hours       0
career_aspiration             0
math_score                    0
history_score                 0
physics_score                 0
chemistry_score               0
biology_score                 0
english_score                 0
geography_score               0
dtype: int64

In [23]:
duplicate_rows_df = df[df.duplicated()]
print("number of duplicate rows: ", duplicate_rows_df.shape)

number of duplicate rows:  (0, 17)

In [26]:
sum(df.duplicated())

0

There are no duplicates.

## It seems all kinds of Data Wrangling as well as Data Cleaning has been done beforehand for us.

## Q1: If math_score of males is greater than females.
Null Hypothesis: H<sub>0</sub>: The math score of male students is less than or equal to female math score <br> Alternate Hypothesis: H<sub>a</sub>: The math score of male students is greater than female math score

In [80]:
male_math_scores = df[df['gender'] == 'male']['math_score']
female_math_scores = df[df['gender'] == 'female']['math_score']
stats.ttest_ind(male_math_scores, female_math_scores, alternative="greater")

TtestResult(statistic=2.2371559026936256, pvalue=0.012693020299630226, df=1998.0)

The t-test result shows a t-statistic of `2.237` and a p-value of `0.0127`, which is below the 0.05 significance level. This indicates that males have significantly higher math scores than females. With 1998 degrees of freedom, the evidence is sufficient to reject the null hypothesis and conclude that there is a gender disparity in math performance. **So, we reject the Null Hypothesis**

**Interpreting the results:** This result suggests that the dataset reflects a gender imbalance in math scores, potentially due to educational or societal biases. It may indicate that males and females experience different levels of support or opportunities in math education, leading to unequal performance outcomes.

## Q2: If math_score of Non Doctors is greater than Doctors (Hint: Use career_aspirations to find Doctor and Non Doctors) 
Null Hypothesis: H<sub>0</sub>: The "math scores" of doctors and non-doctors are similar <br> 
Alternate Hypothesis: H<sub>a</sub>: The "math scores" of non-doctors are greater than the "math scores" of doctors students is greater than female math score

In [93]:
from scipy import stats

# Get math scores for Doctors and Non-Doctors
doc_math_scores = df[df['career_aspiration'] == 'Doctor']['math_score']
non_doc_math_scores = df[df['career_aspiration'] != 'Doctor']['math_score']
stats.ttest_ind(non_doc_math_scores, doc_math_scores, alternative="greater")
# stats.ttest_ind(doc_math_scores, non_doc_math_scores, alternative="greater")
# # Perform the t-test (Non-Doctors > Doctors)
# t_stat, p_value = stats.ttest_ind(non_doc_scores, doc_scores, equal_var=False, alternative='greater')

# # Output the results
# print(f"T-statistic: {t_stat}")
# print(f"P-value: {p_value}")

# # Significance level
# alpha = 0.05

# # Decision rule
# if p_value < alpha:
#     print("Reject the null hypothesis. Non-Doctors have significantly higher math scores than Doctors.")
# else:
#     print("Fail to reject the null hypothesis. There is no significant evidence that Non-Doctors' math scores are higher than Doctors'.")

TtestResult(statistic=-7.389083205876682, pvalue=0.999999999999892, df=1998.0)

The t-test result shows a t-statistic of `-7.389` and a p-value close to `1`, indicating that Non-Doctors have significantly lower math scores than Doctors. The negative t-statistic suggests a substantial difference in the opposite direction of the hypothesis, and the very high p-value provides no evidence to support that Non-Doctors' math scores are higher. Therefore, **we fail to reject the null hypothesis**, which indicates that Doctors have higher math scores compared to Non-Doctors.

**Interpreting the results:** This is an interesting result cause normally you would expect the doctors to have weaker math competence compared to other majors but here we can see that is not the case. We can try reasoning that, this might be the case cause whoever becomes doctor are most probably good at studying and follow a far greater rigour when it comes to their studies, so that they could end up in good medical programs. All of this results in them getting better math scores compared to other professions.

## Q3: If weekly_self_study_hours of males are greater than females.  
Null Hypothesis: H<sub>0</sub>: The weekly self study hours of both males and females are similar <br> 
Alternate Hypothesis: H<sub>a</sub>: The weekly self study hours of males is greater than females.

In [95]:
male_self_study_hours = df[df['gender'] == 'male']['weekly_self_study_hours']
female_self_study_hours = df[df['gender'] != 'female']['weekly_self_study_hours']
stats.ttest_ind(male_self_study_hours, female_self_study_hours, alternative="greater")

TtestResult(statistic=0.0, pvalue=0.5, df=1994.0)

The t-test result shows a t-statistic of `0.0` and a p-value of `0.5`, indicating no significant difference between weekly self-study hours for males and females. The t-statistic suggests that the means are similar, and the high p-value indicates a lack of evidence to reject the null hypothesis. **So, we fail to reject the null hypothesis**. 

**Interpreting the results:** The lack of a significant difference in weekly self-study hours between males and females may be due to similar study habits and commitments across genders. Equal access to study resources and comparable academic pressures could lead to similar self-study patterns. Additionally, it’s possible that both genders prioritize study time equally.

## Q4: If math_score of no part_time_job male students are greater than part_time_job male students. 
Null Hypothesis: H<sub>0</sub>: Math scores of male students with and without part-time jobs are similar or equal <br> 
Alternate Hypothesis: H<sub>a</sub>:  Math scores of male students without part-time jobs is greater than that of the male students with part time job.

In [97]:
# Filter male students
m_students = df[df['gender'] == 'male']

# Get math scores for males with no part-time job
no_PT_job_males = m_students[m_students['part_time_job'] == False]['math_score']

# Get math scores for males with a part-time job
PT_job_males = m_students[male_students['part_time_job'] == True]['math_score']
stats.ttest_ind(no_PT_job_males, PT_job_males, alternative="greater")

TtestResult(statistic=5.8026672393780085, pvalue=4.3820239750124745e-09, df=996.0)

The t-test result shows a t-statistic of `5.803` and an extremely small p-value which is less than `0.05` provides strong evidence to reject the null hypothesis, so thus, **we will reject the null hypothesis**. 

**Interpreting the results:** This result suggests that having a part-time job may be associated with lower math scores among male students, potentially due to time constraints or increased stress impacting their academic performance.

## Q5: If the average of history_score is less than geography_score. 
Null Hypothesis: H<sub>0</sub>: The average we are getting of history and geography scores are similar or equal. .<br> 
Alternate Hypothesis: H<sub>a</sub>: History scores are less than geography scores.

In [102]:
Hist = df['history_score']
Geo = df['geography_score']
stats.ttest_ind(Hist, Geo, alternative="less")

TtestResult(statistic=-1.4412586066465385, pvalue=0.07479497633658547, df=3998.0)

The t-test result shows a t-statistic of -1.441 and a p-value of approximately 0.075. This analysis is testing whether the average history scores are less than the average geography scores. The negative t-statistic indicates that the mean of history scores is lower than the mean of geography scores, which aligns with the alternative hypothesis that history scores are less than geography scores. However, **the p-value of 0.075 is slightly above the typical significance level of 0.05.** <br> **This means there is insufficient statistical evidence to reject the null hypothesis at the 5% significance level.** Thus, while the data shows a tendency for history scores to be lower than geography scores, this difference is not statistically significant enough to confidently assert that history scores are consistently less than geography scores based on this test.

**Interpreting the results:** This implies that the institution in question doesn't really need to revise their syllabus that they have for their geography or history as students' performance in two subjects are pretty similar.

## Q6: If the average of math_score is greater than biology_score. 
Null Hypothesis: H<sub>0</sub>: The average of math score and of biology scores are equal or similar.<br> 
Alternate Hypothesis: H<sub>a</sub>: The average of math scores is greater than the average of biology.

In [108]:
Math_S = df['math_score']
Bio_S = df['biology_score']
stats.ttest_ind(Math_S, Bio_S, alternative="greater")

TtestResult(statistic=9.082620143235266, pvalue=8.146293509285797e-20, df=3998.0)

The t-test result shows a t-statistic of 9.083 and an extremely small p-value of approximately  `8.15e-20`. This analysis tests whether the average math scores are greater than the average biology scores. The large positive t-statistic indicates a significant difference where the mean math score is notably higher than the mean biology score, aligning with the alternative hypothesis that math scores are greater than biology scores. <br>
**The very low p-value provides strong evidence against the null hypothesis so we reject it**, which posits that the average scores of math and biology are equal or similar. <br>
Therefore, the result strongly supports the conclusion that math scores are significantly greater than biology scores, suggesting that students generally perform better in math compared to biology.

**Interpreting the results:** This could imply that the institution in question must need to revise their syllabus that they have for their biology or math so that students' performance in two subjects could be more similar.

## Q7: If weekly_self_study_hours of extracurricular_activities is less than no extracurricular_activities.
Null Hypothesis: H<sub>0</sub>: Weekly-self-study hours of students in extracurricular activities are similar or equal to the weekly self study hours of students who are not in extracurricular activities.<br> 
Alternate Hypothesis: H<sub>a</sub>: Weekly-self-study hours of students in extracurricular activities are less than the weekly self study hours of students who are not in extracurricular activities.

In [118]:
Not_in_EC = df[df['extracurricular_activities'] == False]['weekly_self_study_hours']
In_EC = df[df['extracurricular_activities'] == True]['weekly_self_study_hours']
stats.ttest_ind(In_EC, Not_in_EC, alternative="less")

TtestResult(statistic=-2.3506159912870577, pvalue=0.009419553161020007, df=1998.0)

The t-test result shows a t-statistic of -2.351 and a p-value of approximately `0.0094`. This analysis tests whether students involved in extracurricular activities have fewer weekly self-study hours compared to those not involved in extracurricular activities. The negative t-statistic indicates that the mean self-study hours for students with extracurricular activities is lower than that for students without extracurricular activities. <br>
**The p-value is less than the common significance level of 0.05, providing strong evidence to reject the null hypothesis.** This result suggests that students participating in extracurricular activities tend to have fewer weekly self-study hours compared to their peers who are not involved in such activities, indicating a significant difference in study habits between the two groups.

**Interpreting the results:** It makes sense, we can see that the students who are more into extra-curricular activities naturally have less time on their hands which they could spend on self-study.

## Q8: If absence_days of females are less than males. 
Null Hypothesis: H<sub>0</sub>: The absence days of students of both genders are equal or similar.<br> 
Alternate Hypothesis: H<sub>a</sub>: The absence days of females are lesser than that of males.

In [134]:
F_absence = df[df['gender'] == 'female']['absence_days']
M_absence = df[df['gender'] == 'male']['absence_days']
stats.ttest_ind(F_absence, M_absence, alternative="less")

TtestResult(statistic=1.3128102331149203, pvalue=0.9053011661354035, df=1998.0)

The positive t-statistic suggests that the mean absence days for females is slightly higher than that for males, though not significantly so. <br>
**The p-value is much greater than the common significance level of 0.05, as such, we can not to reject the null hypothesis**. Thus, the result suggests that there is no significant difference in the number of absence days between females and males.

**Interpreting the results:** The lack of a significant difference in absence days between females and males likely arises because both genders face similar responsibilities, school policies, and support systems. Equal impact from behavioral, socio-economic factors, and consistent cultural norms regarding attendance might contribute to comparable absence patterns, leading to no substantial difference in absence days.

## Q9: Is there any Association between gender and career_aspiration.
Null Hypothesis: H<sub>0</sub>: No association between Gender and Career Aspirations.<br> 
Alternate Hypothesis: H<sub>a</sub>: There is significant association between the two.

In [138]:
Chi_Sqt_GC = pd.crosstab(df['gender'], df['career_aspiration'], margins=True)
Chi_Sqt_GC

career_aspiration,Accountant,Artist,Banker,Business Owner,Construction Engineer,Designer,Doctor,Game Developer,Government Officer,Lawyer,Real Estate Developer,Scientist,Software Engineer,Stock Investor,Teacher,Unknown,Writer,All
gender,,,,,,,,,,,,,,,,,,
female,64,42,103,164,0,32,53,31,31,66,45,19,141,25,59,109,18,1002
male,62,25,66,145,68,24,66,32,30,72,38,20,174,48,0,114,14,998
All,126,67,169,309,68,56,119,63,61,138,83,39,315,73,59,223,32,2000

In [140]:
stats.chi2_contingency(Chi_Sqt_GC)

Chi2ContingencyResult(statistic=155.39466648000175, pvalue=1.9087221746002932e-17, dof=34, expected_freq=array([[  63.126,   33.567,   84.669,  154.809,   34.068,   28.056,
          59.619,   31.563,   30.561,   69.138,   41.583,   19.539,
         157.815,   36.573,   29.559,  111.723,   16.032, 1002.   ],
       [  62.874,   33.433,   84.331,  154.191,   33.932,   27.944,
          59.381,   31.437,   30.439,   68.862,   41.417,   19.461,
         157.185,   36.427,   29.441,  111.277,   15.968,  998.   ],
       [ 126.   ,   67.   ,  169.   ,  309.   ,   68.   ,   56.   ,
         119.   ,   63.   ,   61.   ,  138.   ,   83.   ,   39.   ,
         315.   ,   73.   ,   59.   ,  223.   ,   32.   , 2000.   ]]))

The Chi-Square test result shows a Chi-Square statistic of `155.395` and an extremely small p-value of approximately `1.91e-17`.<br>
The very low p-value indicates strong evidence against the null hypothesis, **so we reject the null hypothesis.** <br>
The high Chi-Square statistic also reflects a large deviation from what would be expected if there were no association, reinforcing the conclusion that gender and career aspirations are related in a statistically significant way.

**Interpreting the results:** The significant association between gender and career aspirations might be due to societal influences and traditional gender roles that shape individuals' career interests from a young age. Gender-specific expectations and opportunities can lead to different career aspirations between males and females. Additionally, educational and cultural factors might play a role in steering different genders toward certain career paths, resulting in the observed association.

## Q10: Is there any Association between gender and part_time_job. 
Null Hypothesis: H<sub>0</sub>: No association between gender and part_time_job.<br> 
Alternate Hypothesis: H<sub>a</sub>: There is an association between gender and part_time_job.

In [145]:
Chi_Sqt_GP = pd.crosstab(df['gender'], df['part_time_job'], margins=True)
Chi_Sqt_GP

part_time_job  False  True   All
gender
female           835   167  1002
male             849   149   998
All             1684   316  2000

In [147]:
stats.chi2_contingency(Chi_Sqt_GP)

Chi2ContingencyResult(statistic=1.1337105392319442, pvalue=0.8888874344046543, dof=4, expected_freq=array([[ 843.684,  158.316, 1002.   ],
       [ 840.316,  157.684,  998.   ],
       [1684.   ,  316.   , 2000.   ]]))

The Chi-Square test result shows a Chi-Square statistic of `1.134` and a p-value of approximately `0.889`. 
The high p-value indicates that there is insufficient evidence to reject the null hypothesis. **So, we fail to reject the Null Hypothesis** <br>The observed data does not deviate significantly from what would be expected if there were no relationship between gender and part-time job status.

**Interpreting the results:** The lack of a significant association between gender and part-time job status may be due to equal opportunities and similar needs across genders for part-time work. Factors such as economic necessity, job availability, and work-life balance may influence both males and females similarly, leading to no notable difference in part-time job distribution between genders. Additionally, the data might reflect a balanced employment landscape where gender does not significantly impact the likelihood of having a part-time job.