### Name: Syed Asghar Abbas Zaidi
### ID: 07201

# healthcare-stroke-data-1.csv

In [12]:
import pandas as pd
df = pd.read_csv('healthcare-stroke-data-1.csv')
df.head(5)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,fat_percentage,smoking_status
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,43.13,formerly smoked
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,NaN,never smoked
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,41.20,never smoked
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,36.35,smokes
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,30.77,never smoked

Q1. Display the data types of each column

In [18]:
df.dtypes

id                     int64
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
fat_percentage       float64
smoking_status        object
dtype: object

Q2. Find the columns with missing values by displaying the total number of records for each column.

In [21]:
df.shape

(5110, 12)

In [23]:
df.count()

id                   5110
gender               5110
age                  5110
hypertension         5110
heart_disease        5110
ever_married         5110
work_type            5110
Residence_type       5110
avg_glucose_level    5110
bmi                  4909
fat_percentage       4909
smoking_status       5110
dtype: int64

### Are there any duplicates?

In [26]:
duplicate_rows_df = df[df.duplicated()]
print("number of duplicate rows: ", duplicate_rows_df.shape)

number of duplicate rows:  (0, 12)

In [29]:
sum(df.duplicated())

0

Q3. If there are missing values in any column, replace it with appropriate method of your choice. Explain why did you choose this method? Display the missing value again to show that there are no missing values exist

## Basic guideline with which I will be handling the data-cleaning e.t.c.
If you have 2%, 3% or 5% of missing values, then you drop those rows which contains those values, that's an industry rule of thumb.
But if you have 5% or more than 10% of missing value, then you can "think" of filling them 
However, if it's 20% then you are losing a lot of information. You might consider dropping the entire column, cause if you try filling it, the results might be too skewed


For categorical, use mode. For Numerical, use mean. For ordinal numerical, use median (or mode if situation calls for it)

In [35]:
df.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
fat_percentage       201
smoking_status         0
dtype: int64

In [39]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing}).round(2).sort_values(by='percent_missing',ascending=False).reset_index(drop=True)
missing_value_df

          column_name  percent_missing
0                 bmi             3.93
1      fat_percentage             3.93
2                  id             0.00
3              gender             0.00
4                 age             0.00
5        hypertension             0.00
6       heart_disease             0.00
7        ever_married             0.00
8           work_type             0.00
9      Residence_type             0.00
10  avg_glucose_level             0.00
11     smoking_status             0.00

Q4. Replace the **'?'** present in the **smoking_status** column with the label **'unknown'**

Q5. Find the percentage of Females present in the column gender

Q6. Find all the records which have avg_glucose_level greater than 200

Q7. What is the Average bmi of people whose smoking_status shows **never smoked**?

Q8. Find the Max avg_glucose level and Min avg_glucose level record for the people whose smoking_status shows **smokes**

Q9. Use any visualization technique (think of any suitable plot) which can justify/show that "As the fat_percentage increases, the bmi also increases proportionally". Explain your findings in that plot.

Q10. Generate a correlation plot and validate the results of previous question. Explain how do you validate it?

Q11. Also find another interesting insights from correlation plot (other than fat_percentage and bmi)

Q12. Use a boxplot visualisation technique to see the highest and lowest **fat_percentage** with the marital status (**ever_married**)?

# healthcare-stroke-data-2.csv

Q13. Join second dataset with first dataset to include the **stroke** column. Find the common column to merge these datasets.

Q14. Count the number of records for each **stroke** type

Q15. Replace stroke = 0 to 'No' and stroke = 1 to 'Yes' categories. Count the values again to check if it matches with the previous question

Q16. Make a Distribution plot for **age** and **stroke** together and provide insights on it.

Q17. Make a Distribution plot for **work_type** and **stroke** together and provide insights on it.

Q18. Find the number of patients for each **gender** and **work_type**. Sort them in ascending order.

Q19. Test the Hypothesis and explain your findings: <br> H0: the fat_percentage of **stroke** = Yes and **stroke** = No is same (equal or similar). <br>
Ha: the fat_percentage of **stroke** = Yes is greater than **stroke** = No <br>

Q20. Test the Hypothesis and explain your findings: <br> H0: **gender** and **stroke** are independent and are not related to each other <br>
Ha: **gender** and **stroke** are dependent and related to each other <br>