In [229]:
# d07605@st.habib.edu.pk                 #Daniyal Rahim                       #Homework 4

In [230]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [231]:
df = pd.read_csv("EmployeeAttrition.csv")

In [232]:
df.head()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,94,...,80,0,8,0,1,6,4,0,5,Yes
1,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,61,...,80,1,10,3,3,10,7,1,7,No
2,37,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,92,...,80,0,7,3,3,0,0,0,0,Yes
3,33,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,56,...,80,0,8,3,3,8,7,3,0,No
4,27,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,40,...,80,1,6,3,3,2,2,2,2,No

In [233]:
# H0: If the MonthlyIncome of Males is same as Females
# H1: If the MonthlyIncome of Males is greater than Females

In [235]:
males = df[df["Gender"]=="Male"] ["MonthlyIncome"]
females = df[df["Gender"]=="Female"] ["MonthlyIncome"]

In [236]:
stats.ttest_ind(males,females,alternative="greater")

Ttest_indResult(statistic=-1.2212617308870655, pvalue=0.8889084827245606)

In [237]:
# Conclusion:
# P-Value is greater than 0.05.
# It means that we can accept Null Hypothesis. Therefore mean of MonthlyIncome of Males is approximately same as Females.

In [238]:
# H0: If the WorkLifeBalance of Males is same as Females
# H1: If the WorkLifeBalance of Males is less than Females

In [239]:
males = df[ df["Gender"]=="Male" ] ["WorkLifeBalance"]
females = df[ df["Gender"]=="Female" ] ["WorkLifeBalance"]

In [240]:
stats.ttest_ind(males,females,alternative="less")

Ttest_indResult(statistic=-0.10546787956064164, pvalue=0.45800948246831286)

In [241]:
# Conclusion:
# P-Value is greater than 0.05.
# It means that we can accept Null Hypothesis. Therefore mean of WorkLifeBalance of Males is approximately same as Females.

In [242]:
# H0 : the YearsAtCompany of Single is same as Married
# H1 : the YearsAtCompany of Single is less than Married

In [243]:
married = df[ df["MaritalStatus"]=="Married" ] ["YearsAtCompany"]
single = df[ df["MaritalStatus"]=="Single" ] ["YearsAtCompany"]

In [244]:
stats.ttest_ind(single,married, alternative="less")

Ttest_indResult(statistic=-2.5589985737464476, pvalue=0.0053127663549315815)

In [245]:
# Conclusion:
# P-Value = 0.05, therfore We reject Null hypothesis H0.
# so H1 is true/valid i.e, the average YearsAtCompany of Single is less than Married

In [214]:
# H0 = If the EnvironmentalSatisfaction of Attrition=Yes is same as Attrition=No
# H1 = If the EnvironmentalSatisfaction of Attrition=Yes is less than Attrition=No

In [215]:
yes = df[ df["Attrition"]=="Yes" ] ["EnvironmentSatisfaction"]
no = df[ df["Attrition"]=="No" ] ["EnvironmentSatisfaction"]

In [246]:
stats.ttest_ind(yes, no, alternative = "less")

Ttest_indResult(statistic=-3.9818600026818496, pvalue=3.58616927468443e-05)

In [247]:
# Conclusion:
# P-Value < 0.05, therfore We reject Null hypothesis H0.
# so H1 is true/valid i.e, the average EnvironmentalSatisfaction of Attrition=Yes is less than Attrition=No

In [248]:
# H0 = If the MonthlyIncome of Manager is same as Laboratory Technician
# H1 = If the MonthlyIncome of Manager is greater than Laboratory Technician

In [249]:
manager = df[ df["JobRole"]=="Manager" ] ["MonthlyIncome"]
laboratary = df[ df["JobRole"]=="Laboratory Technician" ] ["MonthlyIncome"]

In [250]:
stats.ttest_ind(manager, laboratary, alternative="greater")

Ttest_indResult(statistic=76.03317414634023, pvalue=9.971168334368433e-224)

In [251]:
# Conclusion:
# P-Value < 0.05, therfore We reject Null hypothesis H0.
# so H1 is true/valid i.e, the average MonthlyIncome of Manager is greater than Laboratory Technician

In [252]:
# Is there any association between the Department and Gender?
# H0 = There is an association between Department and Gender.
# H1 = There is no association between Department and Gender.

In [253]:
department = df["Department"]
gender = df["Gender"]

In [254]:
chisqt = pd.crosstab(department,gender, margins = True)

In [255]:
chisqt

Gender                  Female  Male   All
Department
Human Resources             20    43    63
Research & Development     379   582   961
Sales                      189   257   446
All                        588   882  1470

In [256]:
# np.array [ chisqt.iloc[0] ]
val = np.array ( [chisqt.iloc[0][0:].values, chisqt.iloc[1][0:].values] )
val

array([[ 20,  43,  63],
       [379, 582, 961]], dtype=int64)

In [257]:
chi2, p, dof, exp_freq = stats.chi2_contingency(val)

In [258]:
p

0.47927963769548776

In [170]:
# Since p > 0.05 therefore we cannot reject null hyphothesis. Hence, there is an association between Department and Gender.