In [93]:
import pandas as pd

In [94]:
df = pd.read_csv('580SurveyCleanup.csv')

In [95]:
# df.head()

In [96]:
df1 = df.iloc[:,1:12] # creating df of col 1 to 12 with all rows
df1.columns = df1.iloc[0] # assigning first row as the columns name
df1 = df1[1:] # df1 = df1 except for the first row which were the col names

In [97]:
# FOR Q1

In [98]:
df2 = df.iloc[:, [12,13]] # creating df for Q1
df2.columns = df2.iloc[0].astype(str) # assiging first row as col name
df2 = df2[1:] # removing first row from df

In [99]:
#replacing 1 with col name.
df3 = df2.loc[:,['2.0','4.0']].replace(1, pd.Series(df2.columns, df2.columns)).fillna('')

In [100]:
df4 = pd.DataFrame(df3.iloc[:,0] + df3.iloc[:,1]) #merging both columns into a df
df4.columns = ['AIT-580 Section']
# df4.head()

In [101]:
#axis = 0 means to concatenate vertically in a series, and =1 means to concatenate horizontally 
df1 = pd.concat([df1,df4], axis = 1)

In [102]:
#FOR Q2

In [103]:
df2_1 = df.iloc[:,14:18] # seperating Col for Q2
df2_1.columns= df2_1.iloc[0].astype(str) # setting first row as col names
df2_1= df2_1.iloc[1:] # removing first row
# df2_1.head()

In [104]:
# df3 = df2.loc[:,].replace(1,pd.Series(df2.columns,df2.columns)).fillna('')
df2_2 = df2_1.loc[:,'Male':'Prefer not to answer'].replace('1', pd.Series(df2_1.columns,df2_1.columns)).fillna('')
# pd.Series(df2_1.columns,df2_1.columns)

In [105]:
df2_3 = pd.DataFrame(df2_2.iloc[:,0]+df2_2.iloc[:,1]+df2_2.iloc[:,2]+df2_2.iloc[:,3])
df2_3.columns = ['Gender']

In [106]:
df1 = pd.concat([df1,df2_3], axis = 1)

In [107]:
# FOR Q3-7

In [108]:
df3_1 = df.iloc[:,18:23]
df3_1.columns = df3_1.iloc[0]
df3_1 = df3_1.iloc[1:]
# df3_1

In [109]:
df1 = pd.concat([df1, df3_1], axis = 1)

In [110]:
# FOR Q8

In [111]:
df8_1 = df.iloc[:, 23:26]
df8_1.columns = df8_1.iloc[0]
df8_1 = df8_1.iloc[1:]

In [112]:
df8_2 = df8_1.loc[:, 'Microsoft/Windows':'Other'].replace('2', '1').fillna('No')
df8_2 = df8_2.loc[:, 'Microsoft/Windows':'Other'].replace('0', '1').fillna('No')
df8_2 = df8_2.loc[:, 'Microsoft/Windows':'Other'].replace('1', 'Yes').fillna('No')

In [113]:
df8_4 = pd.DataFrame(df.iloc[:,26]) 
df8_4.columns = ['Device']
 
df8_4 = df8_4.iloc[1:]
mask = df8_2['Other'] == 'Yes'
#replacing other Yes value with the Name of the current device.
df8_2.loc[mask, 'Other'] = df8_4.loc[mask, 'Device']

In [114]:
df1 = pd.concat([df1,df8_2], axis = 1)

In [115]:
#FOR Q9

In [116]:
df9_1 = df.iloc[:,27:30]
df9_1.columns = df9_1.iloc[0]
df9_1 = df9_1.iloc[1:]
df9_2 = df9_1.replace('1', pd.Series(df9_1.columns,df9_1.columns)).fillna('')
df9_3 = pd.DataFrame(df9_2.iloc[:,0]+df9_2.iloc[:,1]+df9_2.iloc[:,2])
df9_3.columns = ['Employed full-time while attending Mason?']

In [117]:
df1 = pd.concat([df1, df9_3], axis = 1)

In [118]:
# For Q10

In [119]:
df10_1 = df.iloc[:, 30:35]
df10_1.columns = df10_1.iloc[0]
df10_1 = df10_1.iloc[1:]
df10_1 = df10_1.replace('1', pd.Series(df10_1.columns, df10_1.columns)).fillna('')
df10_2 = pd.DataFrame(df10_1.iloc[:,0]+df10_1.iloc[:,1]+df10_1.iloc[:,2]+df10_1.iloc[:,3]+df10_1.iloc[:,4])
df10_2.columns = ['Approximate Current Python Programming Skills']

In [120]:
df1 = pd.concat([df1,df10_2], axis = 1)

In [121]:
# For Q11

In [122]:
df11_1 = df.iloc[:, 35:40]
df11_1.columns = df11_1.iloc[0]
df11_1 = df11_1.iloc[1:]
df11_1 = df11_1.replace('1', pd.Series(df11_1.columns, df11_1.columns)).fillna('')
df11_2 = pd.DataFrame(df11_1.iloc[:,0]+df11_1.iloc[:,1]+df11_1.iloc[:,2]+df11_1.iloc[:,3]+df11_1.iloc[:,4])
df11_2.columns = ['Approximate Current R Programming Skills'] 
# df11_2

In [123]:
df1 = pd.concat([df1,df11_2], axis = 1)

In [124]:
# For Q12

In [125]:
df12_1 = df.iloc[:, 40:45]
df12_1.columns = df12_1.iloc[0]
df12_1 = df12_1.iloc[1:]
df12_1 = df12_1.replace('1', pd.Series(df12_1.columns, df12_1.columns)).fillna('')
df12_2 = pd.DataFrame(df12_1.iloc[:,0]+df12_1.iloc[:,1]+df12_1.iloc[:,2]+df12_1.iloc[:,3]+df12_1.iloc[:,4])
df12_2.columns = ['Approximate Current SQL Programming Skills'] 
# df12_2

In [126]:
df1 = pd.concat([df1,df12_2], axis = 1)

In [127]:
df13_1 = pd.DataFrame(df.iloc[:, 45])
df13_1.columns = df13_1.iloc[0]
df13_1 = df13_1.iloc[1:]

In [128]:
df1 = pd.concat([df1,df13_1], axis = 1)

In [135]:
# df1.to_csv("formated_DataSet_580SurveyQuestions.csv", index = True)

In [331]:
#-------------------------Part 2-------------------------------------------------------------

In [332]:
# df1.isnull().any() tells the columns having missing values
df1.columns[df1.isnull().any()] # tells the columns having null values

Index(['Access Code', 'Email Address', 'Region', 'City / Town / District',
       'Height (Inches)', 'Country of Citizenship', 'Undergraduate Degree',
       'Expected Graduation date from Mason MS program?',
       'What is your goal for learning about data analytics?'],
      dtype='object')

In [333]:
df2_1 = df1.drop("Access Code", axis = 1) # since the whole column of "Access Code" is empty
df2_2 = df2_1.drop("Email Address", axis = 1) # since the whole column of "Email Address" is empty

In [334]:
df2_2.loc[:,'Region'] = df2_2.loc[:,'Region'].fillna('Unknown') 
df2_2.loc[:,'City / Town / District'] = df2_2.loc[:,'City / Town / District'].fillna('Unknown') 

'''I have kept NaN values of both "Region" and "City / Town / District" columns as Unknown because 
it cannot be determined by any other factor. I tried analyzing IPs to decide whether the network 
bits of particular IPs are comming from a specific region, but that isnt the case. Moreover the 
answers of students are also from different region.Therefore according to predicting those regions
would lead to adding false values in the data.'''

'I have kept NaN values of both "Region" and "City / Town / District" columns as Unknown because \nit cannot be determined by any other factor. I tried analyzing IPs to decide whether the network \nbits of particular IPs are comming from a specific region, but that isnt the case. Moreover the \nanswers of students are also from different region.Therefore according to predicting those regions\nwould lead to adding false values in the data.'

In [335]:
df2_3 = df2_2['Height (Inches)'].fillna(0)
df2_3 = df2_3.replace('5.2', 0)
df2_3 = df2_3.replace('6l', 61)
df2_3 = df2_3.replace('7O', 70)
df2_3 = df2_3.astype(int)
median_height = df2_3.median()
df2_3 = df2_3.replace(0, median_height)
df2_2['Height (Inches)'] = df2_3
# df2_2.loc[:,'Height (Inches)']


# Explaination: Initially I filled NA values and 5.2 (False data) with 0, becuase I wanted them to be 
# changed. Then I replaced the string value with the numerical value it resembeled. Then I took the
# median because, 0 values were the outliers. Therefore, mean or mode wouldnt work. At the end I
# replaced all the 0 values with median.

In [336]:
df2_4 = df2_2.loc[:,'Country of Citizenship'].str.title()
df2_4 = df2_4.str.strip()
df2_4 = df2_4.replace("Usa", "United States")
df2_4 = df2_4.replace("Us", "United States")
df2_4 = df2_4.fillna('Unknown')
df2_2['Country of Citizenship'] = df2_4
# df2_2.loc[:,'Country of Citizenship']

# Explaination: first I have title cased all my strings to it is easier for me to work on them. Next
# I stripped all my values to remove any white spaces. Then I replace repetitive values i.e. USA and US
# with a single value i.e United States. At last I replaced null values with Unknown. Because one cannot
# predict the country of citizenship of any person based on any given factor.

In [337]:
df2_5 = df2_2.loc[:, "Undergraduate Degree"].str.upper()
df2_5 = df2_5.str.strip()
df2_5 = df2_5.replace("ECONOMIC","ECONOMICS")
df2_5 = df2_5.replace("CRIMINOLOGY LAW AND SOCI","CRIMINOLOGY LAW AND SOCIOLOGY")
df2_5 = df2_5.replace("B.TECH IN CS","BACHELOR OF TECHNOLOGY IN CS")
df2_5 = df2_5.replace("BS ACCOUNTING","BACHELOR OF SCIENCE IN CS")
df2_5 = df2_5.replace("ECE","ELECTRICAL AND COMPUTER ENGINEERING")
df2_5 = df2_5.replace("BIT","BUSINESS INFORMATION TECHNOLOGY")
df2_5 = df2_5.replace("CSE","COMPUTER SCIENCE AND ENGINEERING")
df2_5 = df2_5.fillna("NO DEGREE")
df2_2.loc[:, "Undergraduate Degree"] = df2_5

# Explaination: I have first cleared the data. I have upper cased it so that It becomes easier for me
# to work with it. Moreover, I replaced the acronyms with their full names. I also handled 
# multiple names of the same entity. Atlast, I filled the null values with "NO DEGREE" because it 
# appears to me as if a person hasnt filled this field than he wouldnt yet have a undergraduate degree.

In [338]:
df2_6 = df2_2.loc[:,"Expected Graduation date from Mason MS program?"]
df2_7 = df2_6.dropna()
mode_date =  df2_7.mode()
# df2_6.fill
df2_2.loc[:,"Expected Graduation date from Mason MS program?"] = df2_6.fillna(mode_date[0])
# mode_date

# Explaination: I have calculated the mode of the graduation dates. Most people were graduting in 12th
# month of 2021. However, there were two dates frequently repeating for the same month and year. i,e
# "2021-12-20" and "2021-12-31." I chose the very first one to be replaced by NA values.

In [339]:
df2_6 = df2_2.loc[:, "What is your goal for learning about data analytics?"]
df2_6 = df2_6.str.title()
df2_6 = df2_6.fillna("To Learn and acquire skills")
df2_2.loc[:, "What is your goal for learning about data analytics?"] = df2_6
# Explainaton: Most of the people in this field want to learn and acquire some skill. Very few people 
# wanted a good job, explored their intrest, wanted to start a company or etc.

In [340]:
df2_10 = df2_2.loc[:,"Approximate Current Python Programming Skills"]
df2_10_mode = df2_10.mode()
df2_10 = df2_10.replace('', df2_10_mode[0])
df2_2.loc[:,"Approximate Current Python Programming Skills"] = df2_10

# Explaination: Since they all were students therefore, I took the mode of their values to find the
# most occuring values. Hence, I replaced NAN values with that.

In [341]:
df2_11 = df2_2.loc[:,"Approximate Current R Programming Skills"]
df2_11_mode = df2_11.mode()
df2_11 = df2_11.replace('', df2_11_mode[0])
df2_2.loc[:,"Approximate Current R Programming Skills"] = df2_11

# Explaination: Since they all were students therefore, I took the mode of their values to find the
# most occuring values. Hence, I replaced NAN values with that.

In [342]:
df2_12 = df2_2.loc[:,"Approximate Current SQL Programming Skills"]
df2_12_mode = df2_12.mode()
df2_12 = df2_12.replace('', df2_12_mode[0])
df2_2.loc[:,"Approximate Current SQL Programming Skills"] = df2_12

# Explaination: Since they all were students therefore, I took the mode of their values to find the
# most occuring values. Hence, I replaced NAN values with that.

In [343]:
# df2_2
df2_13 = df2_2.loc[:,"Employed full-time while attending Mason?"]
df2_13_mode = df2_13.mode()
df2_13 = df2_13.replace('', df2_13_mode[0])
df2_2.loc[:,"Employed full-time while attending Mason?"] = df2_13

# Explaination: Most of them were not studying while attending the Mason. We can therefore, assume 
# that the NAN values could be safe;y replaced with that.

In [353]:
df2_14 = df2_2.loc[:,"Age (years)"]
df2_14 = df2_14.replace("2 3", "23")
c = 2020 - 1993
df2_14 = df2_14.replace("1993", str(c))
df2_2.loc[:,"Age (years)"] = df2_14

In [354]:
df2_2.to_csv("cleared_DataSet_580SurveyQuestions.csv", index = True)

In [345]:
#-------------------------Part 3-------------------------------------------------------------

In [358]:
# for question 1
df2_2.iloc[:, 9].describe()

# most of the students who answered the question were from 2 section. It means that "Prof Foxwell" who
# created this AllCounted survey were better able to convince students from section 2.0.

count      36
unique      2
top       2.0
freq       20
Name: AIT-580 Section, dtype: object

In [359]:
# for question 2
df2_2.iloc[:, 10].describe()
# most of the students who filled the survey were male. There was a diversity of genders, however,
# present in the class.

count       36
unique       4
top       Male
freq        18
Name: Gender, dtype: object

In [360]:
# for question 3
df2_2.iloc[:, 11].describe()

# most of the students who filled the survey were arounf 23 years of age. It looks like students
# that age took this survey form more seriously. Or may be this comparatively young age, so they may
# in their starting years of studies which could be one factor of this seriousness.

count     36
unique    12
top       23
freq       8
Name: Age (years), dtype: object

In [361]:
# for question 4
df2_2.iloc[:, 12].describe()

# Most of the students are arounf 67.4722 inches tall. Min height among the students is 56 inches 
# while maximum height is 75 inches.

count    36.000000
mean     67.472222
std       4.123009
min      56.000000
25%      66.000000
50%      67.000000
75%      70.000000
max      75.000000
Name: Height (Inches), dtype: float64

In [362]:
# for question 5
df2_2.iloc[:, 13].describe()

# Most of the students studying there are from India. As IT sector of India is already booming
# therefore one can see presence of Indian students in International schools in huge numbers.

count        36
unique       13
top       India
freq         10
Name: Country of Citizenship, dtype: object

In [363]:
# for question 6
df2_2.iloc[:, 14].describe()

# All students are enrolled in diverse programs. However, in economic largest chunk of these students
# can be found. By simply looking at the data, one can also notice that many students are also
# intrested in computer related fields.

count            36
unique           26
top       ECONOMICS
freq              5
Name: Undergraduate Degree, dtype: object

In [364]:
# for question 7
df2_2.iloc[:, 15].describe()

# Most of the students are graduating in the end 2021 year. It means that the academic year in that 
# university finishes at the end of the year.

count             36
unique            24
top       2021-12-20
freq               6
Name: Expected Graduation date from Mason MS program?, dtype: object

In [365]:
# for question 8
df2_2.iloc[:, 16].describe()

# Most of the students are comfortable in using Microsoft/windows devices,

count      36
unique      2
top       Yes
freq       24
Name: Microsoft/Windows, dtype: object

In [367]:
df2_2.iloc[:, 17].describe()

count     36
unique     2
top       No
freq      25
Name: Apple/MacBook, dtype: object

In [366]:
df2_2.iloc[:, 18].describe()

count     36
unique     2
top       No
freq      35
Name: Other, dtype: object

In [369]:
# for question 9
df2_2.iloc[:, 19].describe()

# Most of the students while studying doesnot prefer working in that semster or generally may be in
# university due to work load.

count                                    36
unique                                    3
top       Not Working while attending Mason
freq                                     20
Name: Employed full-time while attending Mason?, dtype: object

In [370]:
# for question 10
df2_2.iloc[:, 20].describe()

# In general students have average skills in python programming language.

count               36
unique               4
top       Average user
freq                18
Name: Approximate Current Python Programming Skills, dtype: object

In [371]:
# for question 11
df2_2.iloc[:, 21].describe()

# In general students have average skills in R programming language.

count               36
unique               5
top       Average user
freq                12
Name: Approximate Current R Programming Skills, dtype: object

In [372]:
# for question 12
df2_2.iloc[:, 22].describe()

# In general students have average skills in SQL programming language. It means neither python, nor R 
# SQl is taught at professional level in this semester/ previous semesters.

count               36
unique               4
top       Average user
freq                18
Name: Approximate Current SQL Programming Skills, dtype: object